* {
    padding: 0;
    margin: 0;
    font-family: Arial;


}

body {
    background-image: url(./img/index02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Cabeçalho*/

header {
    background-color: #8e8e8e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

h2 {
    text-align: center;
}

nav ul {

    display: flex;
    list-style: none;
    gap: 1rem;
}

nav a {

    color: #fff;
    text-decoration: none;
}

/*Conteudo principal categoria*/

.new-container {
    display: flex;
    margin: 1rem 0;
    gap: 5rem;
    justify-content: center;
}

/*tamanho das bordas nas fotos comm sonbreamento*/
.new-item {
    border: 1px solid #333;
    margin: 1.5rem 0;
    box-shadow: rgba(0, 0, 0, 0.34) 4px 6px 8px;
    padding: 1rem;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* tamanho das fotos*/

.new-item img {
    height: 200px;
    object-fit: cover;
}



/*Rodaoé */

footer {
    padding: 0.5rem;
    background-color: #737272;
    text-align: center;
    color: #fff;
}